.row-hover:hover {
  background-color: #ddd; /* Change the background color as per your preference */
  cursor: pointer; /* Change the cursor style on hover if needed */
white-space: nowrap;
}
.row-hover:nth-child(even) {
  background-color: #f2f2f2;
  cursor: pointer; /* Optional: Change the cursor style on hover */
}